.section{
   height: 110px;
   border: 1px solid rgb(222, 217, 217);
   box-shadow: 2px 2px 5px rgb(222, 220, 220);
   margin-top: 55px;
}
.section ul{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 2px;
}
.section ul li img{
    height: 65px;
    cursor: pointer;
}
p{
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}


